<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GT留言發問</title>
    <link rel="stylesheet" href="./css/text.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
        <div id="app">
                <section id="signInAndSignUp" v-if="!currentUser">
                    <div class="sign-wrapper">
                      
                        <div class="signInAndSignUp-wrapper clearfix">
                            <div class="sign-radio">
                                <label :class="{checked:actionType === 'signUp'}"><input type="radio" name="type" value="signUp" v-model="actionType">SIGN-UP</label>
                                <label :class="{checked:actionType === 'login'}"><input type="radio" name="type" value="login" v-model="actionType">LOG-IN</label>
            
                            </div>
            
                            <div class="signUp clearfix" v-if="actionType == 'signUp'">
                                <form  @submit.prevent=signUp>
                                    <div class="formRow">
                                        <p> Email
                                        </p>
                                      <input type="text" v-model="formData.username" placeholder="請輸入帳號">
                                    </div>
                                    <div class="formRow">
                                       <p>Password</p>
                                        <input type="password"  v-model="formData.password" placeholder="請輸入密碼" >
                                    </div>
                                    <div class="formActions">
                                        <input type="submit" value="SIGN-UP">
                                    </div>
                                </form>
                            </div>
                            <div class="login" v-if="actionType == 'login'">
            
                                <form @submit.prevent=login>
                                    <div class="formRow">
                                        <p>Email</p><input type="text" v-model="formData.username"  placeholder="請輸入帳號">
                                    </div>
                                    <div class="formRow">
                                        <p>Password</p><input type="password" v-model="formData.password"  placeholder="請輸入密碼">
                                    </div>
                                    <div class="formActions">
                                        <input type="submit" value="LOG-IN">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            
                </section>
    <section id="todo" v-if="currentUser">

        <div id="List-wrapper">
            <div class="todoList-wrapper clearfix">
                <div id="header"><a href="index.html"><img class="logo" src="image/網頁排版2-02.png"></a></div>
                <!-- <div id="newTask">
                    <input type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder=" 添加Todo">

                </div> -->
                <button type="button" class="menu-button">
                    三
                  </button> 
                <input type="checkbox" class="menu-button-checkbox"> 
                <div class="menu">
                    <ul>
                       <li><a href="guitar.html">樂器介紹</a></li>
                      
                       <li><a href="chord.html">和弦介紹</a></li>
                      
                       <li><a href="song.html">範例歌曲</a></li>
                       
                       <li><a href="score.html">範例琴譜</a></li>

                       <li><a href="text.html">留言發問</a></li>
                       
                       <div id="button" > <label><button @click="logout"></button>LOG-OUT</label></div>
                    </ul>
                    
            
                </div>           
                
            </div>
           
            <div class="bs">
                <img style="float:left" src="image/網頁排版2-06.png" width="150vw" alt="block" style="vertical-align: top;">學習吉他為自己的生活添加旋律與節奏
                    <br>大碩
                    <br>創辦人之一
                </div>
                <div class="st"><img src="image/網頁排版2-05.png" width="10"> </div>
        </div>
    </section>
</div>
<div class="content">
    <h4>姓名：<input id="name"></h4>
    
    <div class="chat">
        <div><h4>留言：</h4></div><div><textarea id="content" rows="8vw" cols="32vw"></textarea></div>
    </div>
    </br>
        <button id="btn" class="bts" >回應</button></br></br>
        
    <div id="show" class="shows"></div>
</div>
<script src="bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
</body>

</html>